#duzykwadrat {
    position: relative;
    height: 300px;
    width: 300px;
    background-color: orange;
    
}
#malykwadrat {
    background-color: bisque;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#circle {
    width: 75px;
    height: 75px;
    border-radius: 100%;
   background-color: aqua;
    position: relative
}

#logo {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#grad1 {
    height: 50px;
    width: 400px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}

video {
    width: 100%;
    height: auto;
}